@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#charts{
    display: flex;
    
}

#gender{
    width: 250px;
    height: 150px;
}

#charts-member{
    margin-left: 2.5rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#cards{
    display: flex;
    gap: 2rem;
    margin-left: 1.75em;
}

#header-member{
    display: flex;
    justify-content: center;
    gap: 30rem;
    align-items: center;
    color: #495057;
    /* margin-top: 1rem; */
    font-weight: bold;
}

#member-body{
    display: flex;
    margin-top: 4rem;
    gap: 3rem;
}

#title{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1098ad;
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-title{
    color: #1098ad;
    font-size: 1rem;
    font-weight: bolder;
}

.card-text{
    font-size: 0.95rem;
    font-weight: bold;
}

#navbarRight{
    padding-left: 60rem;
}


.cosmetic{
    color: #1098ad;
    font-weight: bold;
}

.main-charts{
    display: flex;
    align-items: center;
    gap: 7rem;
    justify-content: center;
    cursor: pointer;
    height: 85vh;
    width: 100vw;
}

.bar-chart{
    height: 400px;
}

#gender{
    width: 300px;
}

.main-charts-1{
    display: flex;
    gap: 2rem;
}

#cholestrol{
    height: 150px;
}

#table{
    width: 300px;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    border-bottom: 3px solid #1098ad;
    font-weight: bold;
    color: #495057;
}

.topic{
    font-weight: bold;
    color: #495057;
}

.label{
    font-weight: bold;
    color: #1098ad;
}

#not-found{
    color: #495057;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}